<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/users" method="POST">
        Name<input type="text" name="userFname" id="userFname">
        Surname<input type="text" name="userLname" id="userLname">
        Email<input type="email" name="email" id="email">
        Password<input type="password" name="password" id="password">
        Number<input type="password" name="phoneNumber" id="phoneNumber">
    <!-- Type<input type="text" name="userType" id="userType"> -->
        <button type="submit">Register</button>
    </form>
</body>
</html>